.canvas-container, .canvas-container > canvas {
    display: flex;
    width: calc(100% - 50px)!important;
    height: calc(100% - 50px)!important;
    justify-content: center;
}

.canvas-no-data {
    width: 100%;
    height: 100%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-no-data > span {
    color: #ffffff;
}


@media (max-width: 800px) {
    .canvas-container, .canvas-container > canvas {
        height: 500px!important;
        width: calc(100% - 10px)!important;
        /*:height: calc(100% - 10px)!important;*/
    }

}
